body {
    background-image: url('background.jpg');
    background-size: contain;
    height: 2221px;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    transform: translateX(-13%);
    text-align: center;
}

h1 {
    font-size: 5em;
    color: antiquewhite;
}

h2 {
    font-size: 4.5em;
    color: antiquewhite;
}

ul {
    font-size: 2em;
    color: antiquewhite;
}


.paragraphs p {
    font-size: 1.7em;
    color: antiquewhite;
    margin: -355px 0; 
    padding: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
    transform: translateX(-38%);
    text-align: center;
    margin-top: 520px; 
    margin-left: 460px;
    margin-right: 400px;
}

button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    cursor: pointer;
}

    button:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }
